PIHOLE_PASSWORD=changeme
SAMBA_EVAN_PASSWORD=changeme
SAMBA_KARLA_PASSWORD=changeme
WG_PASSWORD_HASH=changeme
EXPRESSVPN_USER=changeme
EXPRESSVPN_PASSWORD=changeme
PLEX_TOKEN=changeme
RADARR_API_KEY=changeme
QBITTORRENT_USERNAME=changeme
QBITTORRENT_PASSWORD=changeme
WG_ADMIN_PASSWORD=changeme
SONARR_API_KEY=changeme
